.midpoint{
    /* background property work only if you give the animation false during the declearing the mergeElement */
    background: linear-gradient(90deg,rgb(0, 0, 0) 60%,rgb(255, 94, 0));
    position: absolute;
    width: 40px;
    height: 6px;
    border-radius: 3px;
    z-index: 9;
    /* uncomment the fellowing line if you want to animation */
    animation : animate 3s linear infinite;

}



@keyframes animate{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: var(--i);
    }
}

