body{
    width:100vw;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}
#root{
    width: 100%;
    height: 100%;
    background-color: rgb(191, 248, 245);
}

#root canvas{
    width: 50%;
    height: 50%;
}