.zip
node_modules/
.bundle/
android/
ios/
.buckconfig
.flowconfig
.gitignore
.watchmanconfig
.ruby-version
.prettierrc.js
.eslintrc.js
app.json
Gemfile
Gemfile.lock
metro.config.js
platforms/
plugins/