body{
    background: rgb(0, 0, 0);
    background-repeat: no-repeat;
    height: 667px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas{
    width: 95%;
    height: 95%;
    background-color: rgba(34, 34, 34, 0.295);
    border-radius: 5px;
    border: 5px solid rgba(0, 0, 0, 0.781);
    overflow:hidden;
}

.point{
    width:60px;
    height:60px;
    background: white;
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    display: inline-block;
}

#head{
    width:60px;
    height:60px;
    background: red;
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    display: inline-block;
}

.midpoint{
    background: linear-gradient(90deg,yellow 80%,rgb(255, 0, 0));
    position: absolute;
    width: 20px;
    height: 20px;
    height: 6px;
    border-radius: 3px;
    z-index: 9;
    animation : animate 3s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: var(--i);
    }
}

.hide{
    display: none;
    cursor: default;
}



