body{
    height: 663px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,white,red);
    overflow: hidden;
}

.container{
    width: 200px;
    height: 200px;
    background: linear-gradient(0deg,skyblue,purple);
    border-radius: 50%;
    border: 20px solid skyblue;
}

.container::after{
    content: "";
    background: black;
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height:100px;

}
