body{
    height: 663px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,white,red);
}

.container{
    width: 500px;
    height: 10px;
    background: linear-gradient(90deg,red 60%,black);
    background-size: 1000px;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: var(--i);
    }
}

