body{
    box-sizing: border-box;
    background: rgb(0, 255, 234);
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px; 
    height: 400px;
    border-radius: 50%;
    background: skyblue;
    display: flex;
    justify-content: center;
}

.container::before{
    content: '';
    background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
}
